[buildout]
extends = http://dist.plone.org/release/4.3-latest/versions.cfg
find-links =
    http://dist.plone.org/release/4.3-latest/
    http://dist.plone.org/release/thirdparty/


newest = false

eggs =
zcml =
versions = versions

parts =
    instance

[versions]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8088
eggs =
    Plone
    plone.app.upgrade 
    ${buildout:eggs}

zcml = ${buildout:zcml}

enviroment-vars =
    zope_i18n_compile_mo_files true
